&lt;a class=&quot;collapse-toggle u-tile u-tile--wide bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#parish&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
    {{&gt; atoms-parish }}
    &lt;h3 class=&quot;toggle-title&quot;&gt;{{ toggle.title }}&lt;/h3&gt;
&lt;/a&gt;
