<svg y="0px" x="0px" viewBox="0 0 50 83.708961"><g stroke-miterlimit="10" transform="translate(-25 -8.038)"><path style="stroke:currentColor;stroke-width:5;stroke-miterlimit:10;fill:none" d="m27.5 72.538c0-52.256 22.5-61.785 22.5-61.785s22.5 9.529 22.5 61.785h-45z"/><line style="stroke:currentColor;stroke-width:5;stroke-miterlimit:10;fill:none" y2="72.538" x2="50" y1="10.753" x1="50"/><line style="stroke:currentColor;stroke-width:5;stroke-miterlimit:10;fill:none" y2="89.247" x2="72.5" y1="89.247" x1="27.5"/></g></svg>