<div class="row row--layout grid mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button bg-center bg-cover" style="background-image: url({{ img.entrance.src }})">

    {{> organisms-header }}

    {{> molecules-nav-drawer }}

  <main class="mdl-layout__content" role="main" itemprop="mainContentOfPage">
                <article id="post-12" class="entry page publish author-admin post-12 " itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
                    <section class="hero section-first flex flex-column flex-center bg-lighten-3">

                        <section class="white row py3 py4@md">
                            <div class="card-row">


                                <div class="u-1/1 black grid__item link-bare flex flex-wrap flex-justify-around center">

                                        <a class="collapse-toggle u-tile u-tile--wide bg-1--glass shadow1 shadow-hover inline-block" data-collapse="#parish" data-group="accordion" href="#">
                                            {{> atoms-parish }}
                                            <h2 class="toggle-title">Parishes</h2>

                                            <!-- Right aligned menu on top of button  -->
<button id="demo-menu-top-right"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>

                                        <a class="collapse-toggle u-tile bg-2--glass shadow1 shadow-hover inline-block" data-collapse="#schools" data-group="accordion" href="#">
                                            {{> atoms-school }}
                                            <h2 class="toggle-title">Schools</h2>

<button id="demo-menu-top-right2"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right2">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>

                                        <a class="collapse-toggle u-tile shadow1 shadow-hover bg-3--glass inline-block" data-collapse="#diocese" data-group="accordion" href="#">
                                            {{> atoms-dpc }}
                                            <h2 class="toggle-title">Pastoral Center</h2>

<button id="demo-menu-top-right3"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right3">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>



                                        <a class="collapse-toggle u-tile bg-2--glass shadow1 shadow-hover inline-block" data-collapse="#ministries" data-group="accordion" href="#">
                                            {{> atoms-bible }}
                                            <h2 class="toggle-title">Ministries</h2>

<button id="demo-menu-top-right4"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right4">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>

                                        <a class="collapse-toggle u-tile bg-3--glass shadow1 shadow-hover inline-block" data-collapse="#education" data-group="accordion" href="#">
                                            {{> atoms-edu }}
                                            <h2 class="toggle-title">Education</h2>

<button id="demo-menu-top-right5"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right5">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>

                                        <a class="collapse-toggle u-tile bg-1--glass shadow1 shadow-hover inline-block" data-collapse="#vocations" data-group="accordion" href="#">
                                            {{> atoms-vocations }}
                                            <h2 class="toggle-title">Vocations</h2>

<button id="demo-menu-top-right6"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right6">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>



                                        <a class="collapse-toggle u-tile bg-1--glass shadow1 shadow-hover inline-block" data-collapse="#events" data-group="accordion" href="#">
                                            {{> atoms-events }}
                                            <h2 class="toggle-title">Events</h2>

<button id="demo-menu-top-right7"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right7">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>

                                        <a class="collapse-toggle u-tile bg-1--glass shadow1 shadow-hover inline-block" data-collapse="#give" data-group="accordion" href="#">
                                            {{> atoms-give }}
                                            <h2 class="toggle-title">Ways to Give</h2>

<button id="demo-menu-top-right8"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right8">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>

                                        <a class="collapse-toggle u-tile u-tile--wide bg-2--glass shadow1 shadow-hover inline-block" data-collapse="#news" data-group="accordion" href="#">
                                            {{> atoms-news }}
                                            <h2 id="bishop" class="toggle-title">News</h2>

<button id="demo-menu-top-right9"
        class="mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right9">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>

                                        </a>


                                </div>
                            </div>
                        </section>


                    </section>



                    <section class="bg-silver row pt3 pt4@md pb4@md pages-highlight">
                        <div class="card-row container">
                        <div class="h1 left-align mb3">Something Here</div>
                            <div class="u-1/1@md grid__item mb3">
                                <div class="card overflow-hidden flex flex-wrap br">
                                    <div class="card__figure u-1/3@md">
                                        <div class="mx-auto u-square color-2--lighter">
                                            {{> atoms-bishop-hat }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="bg-2--glass white row pt3 pt4@md pb4@md pages-highlight">


                    <!-- Wide card with share menu button -->




                        <div id="card-up" class="card-row container black">
                        {{> molecules-media-block }}
                            <div class="u-1/3@md grid__item px2 mb3">
                                <div class="bg-white card shadow2 overflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-one/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page One" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-one/" rel="bookmark">Page One</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="u-1/3@md grid__item px2 mb3">
                                <div class="bg-white card shadow2 overflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-one/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page One" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-one/" rel="bookmark">Page One</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="u-1/3@md grid__item px2 mb3">
                                <div class="bg-white card shadow2 overflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-two/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page Two" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-two/" rel="bookmark">Page Two</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="bg-silver black row pt3 pt4@md pb4@md pages-highlight">
                        <div class="card-row container">
                            <div class="h1 center mb3">This Is a Two Card Row!</div>




                            <div class="u-1/2@md grid__item px2 mb3">
                                <div class="bg-white black card shadow2 overflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-one/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page One" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-one/" rel="bookmark">Page One</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim<a class="btn-readmore z1 right-0 bottom-0" href="#/page-one/"><i class="material-icons">more_horiz</i></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="u-1/2@md grid__item px2 mb3">
                                <div class="bg-white black card shadow2 overflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-two/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page Two" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-two/" rel="bookmark">Page Two</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim<a class="btn-readmore z1 right-0 bottom-0" href="#/page-two/"><i class="material-icons">more_horiz</i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="bg-1--glass white row pt3 pt4@md pb4@md pages-highlight">
                        <div class="card-row container">
                            <div class="h1 center mb3">This One Has Four!</div>

                            <div class="u-1/4@md grid__item px2 mb3">
                                <div class="card overflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-two/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page Two" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-two/" rel="bookmark">Page Two</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="u-1/4@md grid__item px2 mb3">
                                <div class="card overflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-one/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page One" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-one/" rel="bookmark">Page One</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id?</p>
                                    </div>
                                </div>
                            </div>

                            <div class="u-1/4@md grid__item px2 mb3">
                                <div class="card overflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-two/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page Two" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-two/" rel="bookmark">Page Two</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="u-1/4@md grid__item px2 mb3">
                                <div class="cardoverflow-hidden br">
                                    <div class="card__figure">
                                        <a href="#/page-one/">
                                            <img src="https://placeimg.com/640/480/any" alt="Page One" class="landscape thumbnail bempress-sm" width="640" height="360" itemprop="image" />
                                        </a>
                                    </div>
                                    <div class="card-divider p2 color-inherit"><a class="h3 card__title--link" href="#/page-one/" rel="bookmark">Page One</a></div>
                                    <div class="card-section px2 pb2">
                                        <p>Cubilia veritatis! Pellentesque. Voluptatum?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>

  {{> organisms-footer }}
            </main>
        </div>
        <!-- /.row -->
