&lt;nav class=&quot;pagination loop-pagination&quot;&gt;
&lt;a class=&quot;prev page-numbers&quot; href=&quot;{{ url }}&quot;&gt;Previous&lt;/a&gt;
&lt;a class=&quot;page-numbers&quot; href=&quot;{{ url }}&quot;&gt;1&lt;/a&gt;
&lt;span class=&quot;page-numbers current&quot;&gt;2&lt;/span&gt;
&lt;a class=&quot;page-numbers&quot; href=&quot;{{ url }}&quot;&gt;3&lt;/a&gt;
&lt;span class=&quot;page-numbers dots&quot;&gt;&hellip;&lt;/span&gt;
&lt;a class=&quot;page-numbers&quot; href=&quot;{{ url }}&quot;&gt;6&lt;/a&gt;
&lt;a class=&quot;next page-numbers&quot; href=&quot;{{ url }}&quot;&gt;Next&lt;/a&gt;
&lt;/nav&gt;


&lt;div class=&quot;container-medium&quot;&gt;

&lt;div class=&quot;nav-links&quot;&gt;
      &lt;div class=&quot;nav-previous&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot; rel=&quot;prev&quot;&gt;&lt;span class=&quot;meta-nav&quot;&gt;&larr;&lt;/span&gt; Hello world!&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nav-next&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot; rel=&quot;next&quot;&gt;Headers Post &lt;span class=&quot;meta-nav&quot;&gt;&rarr;&lt;/span&gt;&lt;/a&gt;
      &lt;/div&gt; 
&lt;/div&gt;
&lt;/div&gt;