&lt;figure class=&quot;Media Media--hero&quot; data-effeckt-type=&quot;quarter-slide-up&quot;&gt;
    &lt;img class=&quot;Media-figure Image&quot; src=&quot;{{ img.landscape-16x9.src }}&quot; alt=&quot;Kitten&quot;&gt;
    &lt;figcaption&gt;
      &lt;div class=&quot;Media-caption effeckt-figcaption-wrap&quot;&gt;
        &lt;h3&gt;{{ headline.short }}&lt;/h3&gt;
        &lt;p&gt;{{ headline.medium }}&lt;/p&gt;
      &lt;/div&gt;
    &lt;/figcaption&gt;
  &lt;/figure&gt;