 <header class="mdl-layout__header mdl-layout__header--waterfall white">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row top-row">
      <!-- Title -->
<span class="transition mdl-layout-title link-bare"><a class="border0 white logo-link" href="#">{{ title }}</a></span>

{{> molecules-primary-nav }}
{{> molecules-search }}
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row bottom-row">
      <span class="transition mdl-layout-title link-bare py2"><a class="border0 white logo-link" href="#">{{> atoms-logo }} {{ title }}</a></span>
    </div>
  </header>