<footer id="footer" class="bg-darken-4 white color-inherit" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class=" container container--footer">
		<aside class="sidebar sidebar-footer sidebar-horizontal flex flex-wrap flex-justify pty3 py4@md" role="complementary" id="sidebar-footer" aria-label="Footer Sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">


			<div class="col u-1/2 u-1/4@md">
				<ul class="list-reset">
					<li>
						<h3 class="h4 m0">
							<a href="#" class="btn block">Home</a>
						</h3>
					</li>
					<li><a href="#" class="h5 btn block">Bacon</a></li>
					<li><a href="#" class="h5 btn block">Bratwurst</a></li>
					<li><a href="#" class="h5 btn block">Andouille</a></li>
					<li><a href="#" class="h5 btn block">Pork Loin</a></li>
				</ul>
			</div>
			<div class="col u-1/2 u-1/4@md">
				<ul class="list-reset">
					<li>
						<h3 class="h4 m0">
							<a href="#" class="btn block">Categories</a>
						</h3>
					</li>
					<li><a href="#" class="h5 btn block">Bacon</a></li>
					<li><a href="#" class="h5 btn block">Bratwurst</a></li>
					<li><a href="#" class="h5 btn block">Andouille</a></li>
					<li><a href="#" class="h5 btn block">Pork Loin</a></li>
				</ul>
			</div>
			<div class="col u-1/2 u-1/4@md">
				<ul class="list-reset">
					<li>
						<h3 class="h4 m0">
							<a href="#" class="btn block">Categories</a>
						</h3>
					</li>
					<li><a href="#" class="h5 btn block">Bacon</a></li>
					<li><a href="#" class="h5 btn block">Bratwurst</a></li>
					<li><a href="#" class="h5 btn block">Andouille</a></li>
					<li><a href="#" class="h5 btn block">Pork Loin</a></li>
				</ul>
			</div>
			<div class="col u-1/2 u-1/4@md">
				<ul class="list-reset">
					<li>
						<h3 class="h4 m0">
							<a href="#" class="btn block">About</a>
						</h3>
					</li>
					<li><a href="#" class="h5 btn block">Bacon</a></li>
					<li><a href="#" class="h5 btn block">Bratwurst</a></li>
					<li><a href="#" class="h5 btn block">Andouille</a></li>
					<li><a href="#" class="h5 btn block">Pork Loin</a></li>
				</ul>
			</div>


		</aside>
	</div>
	<p class="credit bg-darken-2 center py2">&#169; 2015 <a class="site-link" href="#" rel="home">Diocese of Charlotte</a></p>
	<!-- .credit -->
</footer>
