&lt;nav class=&quot;navdrawer-container text-shadow flex@md flex-center promote-layer&quot;&gt;
&Tab;&lt;h1 class=&quot;logo hide@sm mt1 mb1 ml3&quot;&gt;
&Tab;&Tab;&lt;a class=&quot;border0 white&quot; href=&quot;{{ link.pages-blog }}&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-logo }}Diocese of Charlotte&lt;/a&gt;
&Tab;&lt;/h1&gt;
&Tab;&lt;h3 class=&quot;hide@md&quot;&gt;Diocese of Charlotte&lt;/h3&gt;
&Tab;&lt;ul&gt;
&Tab;&Tab;&lt;li class=&quot;u-1/1@sm&quot;&gt;{{&gt; molecules-search }}&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;u-1/1@sm&quot;&gt;&lt;a href=&quot;{{ link.pages-homepage }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;u-1/1@sm&quot;&gt;&lt;a href=&quot;{{ link.pages-blog }}&quot;&gt;Home 2&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;u-1/1@sm&quot;&gt;&lt;a class=&quot;br&quot; href=&quot;#&quot;&gt;Home 3&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/nav&gt;
