&lt;div class=&quot;main grid&quot;&gt;
{{&gt; molecules-breadcrumbs }}
&lt;header class=&quot;entry-header u-size-1&quot;&gt;
	&lt;h1 class=&quot;entry-title&quot; itemprop=&quot;headline&quot;&gt;Page Title&lt;/h1&gt;
&lt;/header&gt;
&lt;div class=&quot;entry-content u-size-1&quot;&gt;
   	&lt;p class=&quot;divider-icon icon-divider&quot;&gt;&amp;#xe707&lt;/p&gt;
&lt;div class=&quot;entry-content&quot;&gt;
    {{&gt; molecules-intro-text }}
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;