  <!-- Navigation -->
      <nav class="waterfall-demo-header-nav mdl-navigation">
        <a class="mdl-navigation__link" href="{{ link.pages-tiles }}">Link</a>
        <a class="mdl-navigation__link" href="{{ link.pages-cards }}">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>