&lt;div class=&quot;grid flex-row@md flex-wrap mb3 mr2 u-1/1 u-2/3@md ml-auto mdl-card mdl-shadow--2dp demo-card-wide&quot;&gt;
  &lt;div class=&quot;grid__item u-2/5@md mdl-card__title white bg-cover bg-center&quot; style=&quot;background-image: url({{ img.bishop.src }})&quot;&gt;
    
  &lt;/div&gt;
  &lt;div class=&quot;mdl-card__supporting-text grid__item u-3/5@md&quot;&gt;
&lt;h2 class=&quot;mdl-card__title-text mb1&quot;&gt;Bishop Peter J. Jugis, JCD&lt;/h2&gt;
  &lt;p&gt;Bishop Peter Joseph Jugis is a native of Charlotte, N.C., and is the fourth Bishop of the Diocese of Charlotte.&lt;/p&gt;
                                        &lt;p&gt;Bishop Jugis was baptized at St. Ann Catholic Church in Charlotte in 1957 by Monsignor Michael J. Begley, who would later become the first bishop of the newly formed Diocese of Charlotte in 1972.&lt;/p&gt;
&lt;!--                                         &lt;p&gt;Bishop Jugis was educated in Catholic and public schools in his hometown of Charlotte, earning a degree in business administration from the University of North Carolina at Charlotte in 1979. After graduation he
                                            entered the seminary at the Pontifical North American College in Rome and studied at the Pontifical Gregorian University in Rome.&lt;/p&gt; --&gt;

&Tab;&lt;!-- &lt;p&gt;{{ excerpt.medium }}&lt;/p&gt; --&gt;
&Tab;  &lt;div class=&quot;mdl-card__actions u-1/1 mdl-card--border&quot;&gt;
    &lt;a class=&quot;mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect&quot;&gt;
      Continue Reading
    &lt;/a&gt;
  &lt;/div&gt;
  &lt;/div&gt;

&lt;/div&gt;