&lt;div class=&quot;block block-thumb&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;b-inner&quot;&gt;
		&lt;div class=&quot;b-thumb&quot;&gt;
			{{&gt; atoms-square }}
		&lt;/div&gt;
		&lt;div class=&quot;b-text&quot;&gt;
			&lt;h2 class=&quot;b-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
			&lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;


&lt;div class=&quot;featured-spotlight&quot;&gt;
          &lt;div class=&quot;container-medium&quot;&gt;
            &lt;div class=&quot;featured-spotlight__container g--pull-half&quot;&gt;
              &lt;div class=&quot;featured-spotlight__img&quot;&gt;
                {{&gt; atoms-landscape-16x9 }}
              &lt;/div&gt;

              &lt;div class=&quot;container-small&quot;&gt;
                &lt;h3 class=&quot;xxlarge&quot;&gt;Featured spotlight&lt;/h3&gt;
                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed vitae varius augue, eu varius dolor.&lt;/p&gt;
                &lt;a href=&quot;#&quot; class=&quot;cta--primary&quot;&gt;View Google&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;