/* #FLEX OBJECT
\*------------------------------------*/

.flex { display: flex }

.flex-rev  { flex-direction: row-reverse }
.flex-column  { flex-direction: column }
.flex-wrap    { flex-wrap: wrap }


.flex-baseline { align-items: baseline }
.flex-stretch  { align-items: stretch }
.flex-start    { align-items: flex-start }
.flex-end      { align-items: flex-end }

.flex-justify  { justify-content: space-between }
.flex-justify-around  { justify-content: space-around }
.flex-justify-end  { justify-content: flex-end; }
.flex-center   { justify-content: center }

.flexed-auto { flex: 1 1 auto }
.flexed-grow { flex: 1 0 auto }
.flexed-none { flex: none }
.flexed1 { flex: 1; }

.flexed-center { align-self: center; }

.flexed-first { order: -1 }
.flexed-last  { order: 99999 }


// small
@include sm {
  .flex\@sm { display: flex }
  .flex-column\@sm  { flex-direction: column }
}


// medium
@include md {
  .flex\@md { display: flex }
  .flex-row\@md  { flex-direction: row }
}


// large
@include lg {
  .flex\@lg { display: flex }
  .flex-row\@lg  { flex-direction: row }
}
