///* #TRANSITIONS
//\*------------------------------------*/

.transition {
	transition-duration: $transition-duration;
    transition-timing-function: $transition-timing;
    transition-property: all;
}

.hover-fade {
	opacity: 1;
	transition-duration: $transition-duration;
    transition-timing-function: $transition-timing;
    transition-property: all;
	&:hover {
		opacity: $opacity;
	}
}
