&lt;header class=&quot;app-bar promote-layer hide@md&quot;&gt;
&Tab;&lt;div class=&quot;app-bar-container&quot;&gt;
&Tab;&Tab;&lt;button class=&quot;menu&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-hamburger }}
&Tab;&Tab;&lt;/button&gt;
&Tab;&lt;/div&gt;
&lt;/header&gt;

{{&gt; molecules-primary-nav }}
