&lt;div class=&quot;Media Media--petite&quot;&gt;
    &lt;img class=&quot;Media-figure Image&quot; src=&quot;{{ img.square-small.src }}&quot; alt=&quot;Kitten&quot;&gt;
          &lt;div class=&quot;Media-body&quot;&gt;
            &lt;h3 class=&quot;Demo-title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ name.first }} {{ name.last }}&lt;/a&gt;&lt;/h3&gt;
            &lt;p&gt;{{ excerpt.small }}&lt;/p&gt;
          &lt;/div&gt;
&lt;/div&gt;