&lt;footer id=&quot;footer&quot; class=&quot;bg-darken-4 white color-inherit&quot; role=&quot;contentinfo&quot; itemscope=&quot;itemscope&quot; itemtype=&quot;http://schema.org/WPFooter&quot;&gt;
&Tab;&lt;div class=&quot; container container--footer&quot;&gt;
&Tab;&Tab;&lt;aside class=&quot;sidebar sidebar-footer sidebar-horizontal flex flex-wrap flex-justify pty3 py4@md&quot; role=&quot;complementary&quot; id=&quot;sidebar-footer&quot; aria-label=&quot;Footer Sidebar&quot; itemscope=&quot;itemscope&quot; itemtype=&quot;http://schema.org/WPSideBar&quot;&gt;


&Tab;&Tab;&Tab;&lt;div class=&quot;col u-1/2 u-1/4@md&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;list-reset&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3 class=&quot;h4 m0&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;btn block&quot;&gt;Home&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Bacon&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Bratwurst&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Andouille&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Pork Loin&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;col u-1/2 u-1/4@md&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;list-reset&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3 class=&quot;h4 m0&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;btn block&quot;&gt;Categories&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Bacon&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Bratwurst&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Andouille&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Pork Loin&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;col u-1/2 u-1/4@md&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;list-reset&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3 class=&quot;h4 m0&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;btn block&quot;&gt;Categories&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Bacon&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Bratwurst&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Andouille&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Pork Loin&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;col u-1/2 u-1/4@md&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;list-reset&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3 class=&quot;h4 m0&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;btn block&quot;&gt;About&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Bacon&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Bratwurst&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Andouille&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;h5 btn block&quot;&gt;Pork Loin&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;


&Tab;&Tab;&lt;/aside&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;p class=&quot;credit bg-darken-2 center py2&quot;&gt;&amp;#169; 2015 &lt;a class=&quot;site-link&quot; href=&quot;#&quot; rel=&quot;home&quot;&gt;Diocese of Charlotte&lt;/a&gt;&lt;/p&gt;
&Tab;&lt;!-- .credit --&gt;
&lt;/footer&gt;
