 &lt;section class=&quot;styleguide__colors&quot;&gt;
{{!         &lt;h2 class=&quot;subsection-title&quot;&gt;&lt;strong class=&quot;subsection-number&quot;&gt;#09&lt;/strong&gt; Colours&lt;/h2&gt; }}

        &lt;h3&gt;Blacks&lt;/h3&gt;
        &lt;div class=&quot;code-sample&quot;&gt;
          &lt;ul class=&quot;styleguide__color-list list--reset clear&quot;&gt;
            &lt;li class=&quot;color--gray-background g--half&quot;&gt;gray-background&lt;/li&gt;
            &lt;li class=&quot;color--gray-keyline g--half g--last&quot;&gt;gray-keyline&lt;/li&gt;
            &lt;li class=&quot;color--gray g--half&quot;&gt;gray&lt;/li&gt;
            &lt;li class=&quot;color--gray-dark g--half g--last&quot;&gt;gray-dark&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;

        &lt;h3&gt;Themes&lt;/h3&gt;
        &lt;div class=&quot;code-sample&quot;&gt;
          &lt;ul class=&quot;styleguide__color-list list--reset clear&quot;&gt;
            &lt;li class=&quot;color--layouts g--half&quot;&gt;pastoral center&lt;/li&gt;
            &lt;li class=&quot;color--layouts-secondary g--half g--last&quot;&gt;pastoral center secondary&lt;/li&gt;
            &lt;li class=&quot;color--user g--half&quot;&gt;parish&lt;/li&gt;
            &lt;li class=&quot;color--user-secondary g--half g--last&quot;&gt;parish secondary&lt;/li&gt;
            &lt;li class=&quot;color--media g--half&quot;&gt;media&lt;/li&gt;
            &lt;li class=&quot;color--media-secondary g--half g--last&quot;&gt;media secondary&lt;/li&gt;
            &lt;li class=&quot;color--performance g--half&quot;&gt;agency&lt;/li&gt;
            &lt;li class=&quot;color--performance-secondary g--half g--last&quot;&gt;agency secondary&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;

        &lt;h3&gt;Diocese&lt;/h3&gt;
        &lt;div class=&quot;code-sample&quot;&gt;
          &lt;ul class=&quot;styleguide__color-list list--reset clear&quot;&gt;
            &lt;li class=&quot;color--blue g--half&quot;&gt;blue&lt;/li&gt;
            &lt;li class=&quot;color--blue-secondary g--half g--last&quot;&gt;blue secondary&lt;/li&gt;
            &lt;li class=&quot;color--green g--half&quot;&gt;green&lt;/li&gt;
            &lt;li class=&quot;color--green-secondary g--half g--last&quot;&gt;green secondary&lt;/li&gt;
            &lt;li class=&quot;color--red g--half&quot;&gt;red&lt;/li&gt;
            &lt;li class=&quot;color--red-secondary g--half g--last&quot;&gt;red secondary&lt;/li&gt;
            &lt;li class=&quot;color--yellow g--half&quot;&gt;yellow&lt;/li&gt;
            &lt;li class=&quot;color--yellow-secondary g--half g--last&quot;&gt;yellow secondary&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;

        &lt;h3&gt;Helpers&lt;/h3&gt;
        &lt;div class=&quot;code-sample&quot;&gt;
          &lt;ul class=&quot;styleguide__color-list list--reset clear&quot;&gt;
            &lt;li class=&quot;color--text g--half&quot;&gt;text&lt;/li&gt;
            &lt;li class=&quot;color--highlight g--half g--last&quot;&gt;highlight&lt;/li&gt;
            &lt;li class=&quot;color--warning g--half&quot;&gt;warning&lt;/li&gt;
            &lt;li class=&quot;color--danger g--half g--last&quot;&gt;danger&lt;/li&gt;
            &lt;li class=&quot;color--muted g--half&quot;&gt;muted&lt;/li&gt;
            &lt;li class=&quot;color--remember g--half g--last&quot;&gt;remember&lt;/li&gt;
            &lt;li class=&quot;color--learning g--half&quot;&gt;learning&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/section&gt;