<a class="collapse-toggle u-tile u-tile--wide bg-1--glass shadow1 shadow-hover inline-block" data-collapse="#parish" data-group="accordion" href="#">
    {{> atoms-parish }}
    <h3 class="toggle-title">{{ toggle.title }}</h3>
</a>
