&lt;div class=&quot;row row--layout grid mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button&quot; style=&quot;background-image: url({{ img.entrance.src }})&quot;&gt;

    {{&gt; organisms-header }}

    {{&gt; molecules-nav-drawer }}

  &lt;main class=&quot;mdl-layout__content&quot; role=&quot;main&quot; itemprop=&quot;mainContentOfPage&quot;&gt;
                &lt;article id=&quot;post-12&quot; class=&quot;entry page publish author-admin post-12 &quot; itemscope=&quot;itemscope&quot; itemtype=&quot;http://schema.org/CreativeWork&quot;&gt;
                    &lt;section class=&quot;hero text-shadow section-first flex flex-column flex-center bg-lighten-3&quot;&gt;

                        &lt;section class=&quot;white row py3 py4@md&quot;&gt;
                            &lt;div class=&quot;card-row&quot;&gt;


                                &lt;div class=&quot;u-1/1 black grid__item link-bare flex flex-wrap flex-justify-around center&quot;&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile u-tile--wide bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#parish&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-parish }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;Parishes&lt;/h3&gt;

                                            &lt;!-- Right aligned menu on top of button  --&gt;
&lt;button id=&quot;demo-menu-top-right&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Another Action&lt;/li&gt;
  &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile bg-2--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#schools&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-school }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;Schools&lt;/h3&gt;
                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile shadow1 shadow-hover bg-3--glass inline-block&quot; data-collapse=&quot;#diocese&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-dpc }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;Pastoral Center&lt;/h3&gt;
                                        &lt;/a&gt;



                                        &lt;a class=&quot;collapse-toggle u-tile bg-2--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#ministries&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-bible }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;Ministries&lt;/h3&gt;
                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile bg-3--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#education&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-edu }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;Education&lt;/h3&gt;
                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#vocations&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-bible }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;Vocations&lt;/h3&gt;
                                        &lt;/a&gt;



                                        &lt;a class=&quot;collapse-toggle u-tile bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#events&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-events }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;Events&lt;/h3&gt;
                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#give&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-give }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;Ways to Give&lt;/h3&gt;
                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile u-tile--wide bg-2--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#news&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-news }}
                                            &lt;h3 class=&quot;toggle-title&quot;&gt;News&lt;/h3&gt;
                                        &lt;/a&gt;


                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;i class=&quot;material-icons center u-1/1 white h1 absolute bottom-0&quot;&gt;keyboard_arrow_down&lt;/i&gt;
                        &lt;/section&gt;


                    &lt;/section&gt;



                    &lt;section class=&quot;bg-white color-text row pt3 pt4@md pb4@md pages-highlight&quot;&gt;
                        &lt;div class=&quot;h1 center mb3 animated fadeInDown&quot;&gt;Bishop Peter J. Jugis, JCD&lt;/div&gt;
                        &lt;div class=&quot;card-row container fadeInUp animated&quot;&gt;
                            &lt;div class=&quot;u-1/1@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;card overflow-hidden flex flex-wrap br&quot;&gt;
                                    &lt;div class=&quot;card__figure u-1/3@md&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            {{&gt; atoms-bishop }}
                                        &lt;/a&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;card-section px2 pb2 u-2/3@md self-center&quot;&gt;
                                        &lt;p&gt;Bishop Peter Joseph Jugis is a native of Charlotte, N.C., and is the fourth Bishop of the Diocese of Charlotte.&lt;/p&gt;
                                        &lt;p&gt;Bishop Jugis was baptized at St. Ann Catholic Church in Charlotte in 1957 by Monsignor Michael J. Begley, who would later become the first bishop of the newly formed Diocese of Charlotte in 1972.&lt;/p&gt;
                                        &lt;p&gt;Bishop Jugis was educated in Catholic and public schools in his hometown of Charlotte, earning a degree in business administration from the University of North Carolina at Charlotte in 1979. After graduation he
                                            entered the seminary at the Pontifical North American College in Rome and studied at the Pontifical Gregorian University in Rome.&lt;/p&gt;
                                        &lt;a class=&quot;absolute btn-readmore z1 right-0 bottom-0&quot; href=&quot;#/page-one/&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;more_horiz&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;i class=&quot;material-icons center u-1/1 white h1 absolute bottom-0&quot;&gt;keyboard_arrow_down&lt;/i&gt;
                    &lt;/section&gt;

                    &lt;section class=&quot;bg-2--glass white row pt3 pt4@md pb4@md pages-highlight&quot;&gt;
                        &lt;div class=&quot;h1 center mb3 animated fadeInDown&quot;&gt;This is the Main WYSIWYG&lt;/div&gt;
                        &lt;div class=&quot;card-row container black fadeInUp animated&quot;&gt;
                            &lt;div class=&quot;u-1/3@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-white card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim&lt;a class=&quot;absolute btn-readmore z1 right-0 bottom-0&quot; href=&quot;#/page-one/&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;more_horiz&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div class=&quot;u-1/3@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-white card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim&lt;a class=&quot;absolute btn-readmore z1 right-0 bottom-0&quot; href=&quot;#/page-one/&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;more_horiz&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div class=&quot;u-1/3@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-white card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-two/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page Two&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-two/&quot; rel=&quot;bookmark&quot;&gt;Page Two&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim&lt;a class=&quot;absolute btn-readmore z1 right-0 bottom-0&quot; href=&quot;#/page-two/&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;more_horiz&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;i class=&quot;material-icons center u-1/1 white h1 absolute bottom-0&quot;&gt;keyboard_arrow_down&lt;/i&gt;
                    &lt;/section&gt;
                    &lt;section class=&quot;bg-silver black row pt3 pt4@md pb4@md pages-highlight&quot;&gt;
                        &lt;div class=&quot;card-row container&quot;&gt;
                            &lt;div class=&quot;h1 center mb3&quot;&gt;This Is a Two Card Row!&lt;/div&gt;
                            &lt;div class=&quot;u-1/2@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-2--light black card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim&lt;a class=&quot;absolute btn-readmore z1 right-0 bottom-0&quot; href=&quot;#/page-one/&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;more_horiz&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;u-1/2@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-2--light black card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-two/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page Two&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-two/&quot; rel=&quot;bookmark&quot;&gt;Page Two&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim&lt;a class=&quot;absolute btn-readmore z1 right-0 bottom-0&quot; href=&quot;#/page-two/&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;more_horiz&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;i class=&quot;material-icons center u-1/1 white h1 absolute bottom-0&quot;&gt;keyboard_arrow_down&lt;/i&gt;
                    &lt;/section&gt;
                    &lt;section class=&quot;bg-1--glass white row pt3 pt4@md pb4@md pages-highlight&quot;&gt;
                        &lt;div class=&quot;card-row container&quot;&gt;
                            &lt;div class=&quot;h1 center mb3&quot;&gt;This One Has Four!&lt;/div&gt;

                            &lt;div class=&quot;u-1/4@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;card overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-two/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page Two&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-two/&quot; rel=&quot;bookmark&quot;&gt;Page Two&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum!&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;u-1/4@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;card overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id?&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div class=&quot;u-1/4@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;card overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-two/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page Two&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-two/&quot; rel=&quot;bookmark&quot;&gt;Page Two&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue,&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;u-1/4@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;cardoverflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum?&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;
                &lt;/article&gt;

  {{&gt; organisms-footer }}
            &lt;/main&gt;
        &lt;/div&gt;
        &lt;!-- /.row --&gt;
