&lt;div class=&quot;row row--layout grid mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button bg-center bg-cover&quot; style=&quot;background-image: url({{ img.entrance.src }})&quot;&gt;

    {{&gt; organisms-header }}

    {{&gt; molecules-nav-drawer }}

  &lt;main class=&quot;mdl-layout__content&quot; role=&quot;main&quot; itemprop=&quot;mainContentOfPage&quot;&gt;
                &lt;article id=&quot;post-12&quot; class=&quot;entry page publish author-admin post-12 &quot; itemscope=&quot;itemscope&quot; itemtype=&quot;http://schema.org/CreativeWork&quot;&gt;
                    &lt;section class=&quot;hero section-first flex flex-column flex-center bg-lighten-3&quot;&gt;

                        &lt;section class=&quot;white row py3 py4@md&quot;&gt;
                            &lt;div class=&quot;card-row&quot;&gt;


                                &lt;div class=&quot;u-1/1 black grid__item link-bare flex flex-wrap flex-justify-around center&quot;&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile fadeInLeft animated u-tile--wide bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#parish&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-parish }}
                                            &lt;h2 class=&quot;toggle-title&quot;&gt;Parishes&lt;/h2&gt;

                                            &lt;!-- Right aligned menu on top of button  --&gt;
&lt;button id=&quot;demo-menu-top-right&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Find a Parish&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;View a Map of Parishes&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Parish Login&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile fadeInDown animated bg-2--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#schools&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-school }}
                                            &lt;h2 class=&quot;toggle-title&quot;&gt;Schools&lt;/h2&gt;

&lt;button id=&quot;demo-menu-top-right2&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right2&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;About Our Schools&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Events Calendar&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Mecklenburg Area Catholic Schools&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Diocesan Parish-based schools&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile fadeInRight animated shadow1 shadow-hover bg-3--glass inline-block&quot; data-collapse=&quot;#diocese&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-dpc }}
                                            &lt;h2 class=&quot;toggle-title&quot;&gt;Pastoral Center&lt;/h2&gt;

&lt;button id=&quot;demo-menu-top-right3&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right3&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Another Action&lt;/li&gt;
  &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;



                                        &lt;a class=&quot;collapse-toggle u-tile fadeInUp animated bg-2--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#ministries&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-bible }}
                                            &lt;h2 class=&quot;toggle-title&quot;&gt;Ministries&lt;/h2&gt;

&lt;button id=&quot;demo-menu-top-right4&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right4&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;African American Affairs&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Catholics Come Home&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Campus Ministry&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Hispanic Ministry&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile fadeInRight animated bg-3--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#education&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-edu }}
                                            &lt;h2 id=&quot;bishop&quot; class=&quot;toggle-title&quot;&gt;Education&lt;/h2&gt;

&lt;button id=&quot;demo-menu-top-right5&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right5&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Administration&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Adult Education&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Becoming a Catholic&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Campus Ministry&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile fadeInUp animated bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#vocations&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-vocations }}
                                            &lt;h2 class=&quot;toggle-title&quot;&gt;Vocations&lt;/h2&gt;

&lt;button id=&quot;demo-menu-top-right6&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right6&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Priesthood&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Quo Vadis Days&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Seminarians&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Permanent Diaconate&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;



                                        &lt;a class=&quot;collapse-toggle u-tile fadeInLeft animated bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#events&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-events }}
                                            &lt;h2 class=&quot;toggle-title&quot;&gt;Events&lt;/h2&gt;

&lt;button id=&quot;demo-menu-top-right7&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right7&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Another Action&lt;/li&gt;
  &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile fadeInDown animated bg-1--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#give&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-give }}
                                            &lt;h2 class=&quot;toggle-title&quot;&gt;Ways to Give&lt;/h2&gt;

&lt;button id=&quot;demo-menu-top-right8&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right8&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Another Action&lt;/li&gt;
  &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;

                                        &lt;a class=&quot;collapse-toggle u-tile fadeInRight animated u-tile--wide bg-2--glass shadow1 shadow-hover inline-block&quot; data-collapse=&quot;#news&quot; data-group=&quot;accordion&quot; href=&quot;#&quot;&gt;
                                            {{&gt; atoms-news }}
                                            &lt;h2 class=&quot;toggle-title&quot;&gt;News&lt;/h2&gt;

&lt;button id=&quot;demo-menu-top-right9&quot;
        class=&quot;mdl-button mdl-js-button mdl-button--icon right-0 top-0 absolute&quot;&gt;
  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;/i&gt;
&lt;/button&gt;

&lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
    for=&quot;demo-menu-top-right9&quot;&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Another Action&lt;/li&gt;
  &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;/li&gt;
  &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;/li&gt;
&lt;/ul&gt;

                                        &lt;/a&gt;


                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/section&gt;


                    &lt;/section&gt;



                    &lt;section class=&quot;bg-silver row pt3 pt4@md pb4@md pages-highlight&quot;&gt;
                        &lt;div id=&quot;cards-move&quot; class=&quot;card-row container&quot;&gt;
                        &lt;div class=&quot;h1 left-align mb3&quot;&gt;The Love of Christ Impels Us&lt;/div&gt;
                            &lt;div class=&quot;u-1/1@md grid__item mb3&quot;&gt;
                                &lt;div class=&quot;card overflow-hidden flex flex-wrap br&quot;&gt;
                                    &lt;div class=&quot;card__figure u-1/3@md&quot;&gt;
                                        &lt;div class=&quot;mx-auto u-square silver round p3 bg-darken-3&quot;&gt;
                                            {{&gt; atoms-love }}
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;


                    &lt;section class=&quot;bg-2--glass white row pt3 pt4@md pb4@md pages-highlight&quot;&gt;


                    &lt;!-- Wide card with share menu button --&gt;

                        &lt;div class=&quot;card-row container black&quot;&gt;
                        {{&gt; molecules-media-block }}
                            &lt;div id=&quot;card-left1&quot; class=&quot;animated u-1/3@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-white card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div id=&quot;card-left2&quot; class=&quot;animated u-1/3@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-white card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div id=&quot;card-left3&quot; class=&quot;animated u-1/3@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-white card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-two/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page Two&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-two/&quot; rel=&quot;bookmark&quot;&gt;Page Two&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;
                    &lt;section class=&quot;bg-silver black row pt3 pt4@md pb4@md pages-highlight&quot;&gt;
                        &lt;div class=&quot;card-row container&quot;&gt;
                            &lt;div class=&quot;h1 center mb3&quot;&gt;Eucharistic Congress &lt;/div&gt;




                            &lt;div class=&quot;u-1/2@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-white black card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim&lt;a class=&quot;btn-readmore z1 right-0 bottom-0&quot; href=&quot;#/page-one/&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;more_horiz&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;u-1/2@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;bg-white black card shadow2 overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-two/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page Two&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-two/&quot; rel=&quot;bookmark&quot;&gt;Page Two&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue, natoque officia mi consequuntur, qui, leo vivamus saepe occaecati.
                                            Fugit? Phasellus quam repellendus ipsum bibendum risus nibh temporibus, temporibus praesent. Litora enim&lt;a class=&quot;btn-readmore z1 right-0 bottom-0&quot; href=&quot;#/page-two/&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;more_horiz&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;
                    &lt;section class=&quot;bg-1--glass white row pt3 pt4@md pb4@md pages-highlight&quot;&gt;
                        &lt;div class=&quot;card-row container&quot;&gt;
                            &lt;div class=&quot;h1 center mb3&quot;&gt;Catholic Charities&lt;/div&gt;

                            &lt;div class=&quot;u-1/4@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;card overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-two/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page Two&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-two/&quot; rel=&quot;bookmark&quot;&gt;Page Two&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum!&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;u-1/4@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;card overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id?&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div class=&quot;u-1/4@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;card overflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-two/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page Two&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-two/&quot; rel=&quot;bookmark&quot;&gt;Page Two&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum? Litora porta illo exercitation, ipsum proident mollit id? Numquam, fermentum! Integer viverra saepe, congue,&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;u-1/4@md grid__item px2 mb3&quot;&gt;
                                &lt;div class=&quot;cardoverflow-hidden br&quot;&gt;
                                    &lt;div class=&quot;card__figure&quot;&gt;
                                        &lt;a href=&quot;#/page-one/&quot;&gt;
                                            &lt;img src=&quot;https://placeimg.com/640/480/any&quot; alt=&quot;Page One&quot; class=&quot;landscape thumbnail bempress-sm&quot; width=&quot;640&quot; height=&quot;360&quot; itemprop=&quot;image&quot; /&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-divider p2 color-inherit&quot;&gt;&lt;a class=&quot;h3 card__title--link&quot; href=&quot;#/page-one/&quot; rel=&quot;bookmark&quot;&gt;Page One&lt;/a&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-section px2 pb2&quot;&gt;
                                        &lt;p&gt;Cubilia veritatis! Pellentesque. Voluptatum?&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;
                &lt;/article&gt;

  {{&gt; organisms-footer }}
            &lt;/main&gt;
        &lt;/div&gt;
        &lt;!-- /.row --&gt;
